body {
  background-color: #f4f4f4;
  margins: auto;
  text-align: center;

}

div { 
  margins: auto;
  padding: 5px;
  border:2px solid #AAA;
  border-radius:5px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

column {
  width: 33.3%;
}

header {
  
}

footer {
  
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #e3e0eb;
  padding: 10px;
}
.grid-item {
  background-color: #f4f4f4;
  border: 1px solid #aaa;
  padding: 5px;
}
