<!DOCTYPE html>
<html lang="en" class="no-js">

  {% include head.html %}

  {% include header.html %}

<body>

  <h1>About Statalog</h1>

    <p>Words that probably talk about us</p>

  <img src="/img/#"></img>

  <h2>Before Statalog</h2>
    <p>Words that talk about where statalog came from</p><!--stuff goes here-->

  <h2>Mission</h2>
    <p>Words go here</p><!--stuff goes here-->

  <h2>Vision</h2>
    <p>Words go here</p><!--stuff goes here-->

  <img src="/img/#"></img>

  <h2>Core Values</h2>
    <h3>Break the Rules</h3><!--stuff goes here-->
    <h3>Ask Questions</h3><!--stuff goes here-->
    <h3>Words go here</h3><!--stuff goes here-->
    <h3>Words go here</h3><!--stuff goes here-->
    <h3>Words go here</h3><!--stuff goes here-->

  <img src="/img/#"></img>
</body>

        {% include footer.html %}
