<!DOCTYPE html>
<html lang="en" class="no-js">

  {% include head.html %}

  {% include header.html %}

  <body>
<h1>The Statalog Brand</h1>

<p>Words that probably talk about how these things support or mission and help us create our vision</p>

<h2>Colors</h2>

<img src="/img/brand-colors.png"></img>
<p>Words go here</p><!--stuff goes here-->

<h2>Logo</h2>

<img src="/img/logo.png"></img>

<h3>Please Do</h3>
<p>Words go here</p><!--stuff goes here-->

<h3>Please Don't</h3>
<p>Words go here</p><!--stuff goes here-->



<h2>Contact Us</h2>
<p>If you have any questions about the terms of service, please contact us:</p>
<ul>
        <li>By email: <a href="mailto:hello@Statalog.org">hello@Statalog.org</a></li>
            <li>By visiting this page on our website: <a href="https://Statalog.org/contact" target="_blank">https://Statalog.org/contact</a></li>

        </ul>


</body>
{% include footer.html %}
