<!DOCTYPE html>
<html lang="en" class="no-js">

  {% include head.html %}

  {% include header.html %}

  <body>


<h1>Developers Toolbox</h1>
<p>Play with the API, to your hearts content! Go on, change the world, one line of code. Also, we're happy to integrate changes, just let us know what you're looking for.</p>
<h2>API</h2>

<p>Section Under Construction</p>

<h3>Private Key</h3>
<p>Section Under Construction</p>

<h4>Requests</h4>

<h4>Get</h4>
<h5>Parameters<h5>
  <p>words</p>
<h5>Response<h5>
  <p>words</p>
<h5>Example<h5>
  <p>words</p>

<h4>Put</h4>
<h5>Parameters<h5>
  <p>words</p>
<h5>Response<h5>
  <p>words</p>
<h5>Example<h5>
  <p>words</p>

<h4>Read</h4>
<h5>Parameters<h5>
  <p>words</p>
<h5>Response<h5>
  <p>words</p>
<h5>Example<h5>
  <p>words</p>

<h4>Delete</h4>
<h5>Parameters<h5>
  <p>words</p>
<h5>Response<h5>
  <p>words</p>
<h5>Example<h5>
  <p>words</p>

<h3>URL</h3>
<p>'https://statalog.org/API'</p>

<h2>Embed</h2>
<p>Section Under Construction</p>

<h2>RSS Feed</h2>
<p>Section Under Construction</p>
<!--stuff goes here-->



</body>
        {% include footer.html %}
</html>
