<!DOCTYPE html>
<html lang="en" class="no-js">

  {% include head.html %}

  {% include header.html %}

<body>

<h1>Explore Statalog</h1>

<form class="form-inline md-form mr-auto mb-4">
  <input class="form-control mr-sm-2" type="text" placeholder="What stats are you lookin' for?" aria-label="Search">
  <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
</form>


        <img src="http://placekitten.com/g/300/200" alt="Card image cap">
        <img src="http://placekitten.com/g/150/200" alt="Card image cap">
        <img src="http://placekitten.com/g/200/200" alt="Card image cap">
        <img src="http://placekitten.com/g/150/200" alt="Card image cap">
        <img src="http://placekitten.com/g/300/200" alt="Card image cap">
        <img src="http://placekitten.com/g/300/200" alt="Card image cap">



<h2>Section Header Under Construction</h2>
<p>Section Under Construction</p>

<h2>Section Header Under Construction</h2>
<p>Section Under Construction</p>
<!--stuff goes here-->

</body>

{% include footer.html %}
</html>
