<!DOCTYPE html>
<html lang="en" class="no-js">
<!--head starts-->
{% include head.html %}
	<!--head ends-->
  {% include header.html %}
<body>
<h1>Statalog Labs & Daily Ops</h1>


<p>Dashboard of tasks, my to-do lists, and welcome contributions</p>

<h2>Makerlog</h2>
<p>embed here</p>
<p>Section Under Construction</p>
<iframe title="Makerlog Embed" height="300" style="width:95%" scrolling="no" frameborder="0" allowtransparency="true" src="https://api.getmakerlog.com/users/2531/embed"></iframe>
<iframe title="Makerlog Embed" height="200" style="width:95%" scrolling="no" frameborder="0" allowtransparency="true" src="https://api.getmakerlog.com/users/2531/stats_embed"></iframe>

<h2>Github Issues</h2>
<p>embed here</p>
<p>Section Under Construction</p>

<h2>Blog editor</h2>
<p>embed here</p>
<p>Section Under Construction</p>

<h2>Social</h2>
<p>Section Under Construction</p>
<a class="twitter-timeline" href="https://twitter.com/Statalog?ref_src=twsrc%5Etfw">Tweets by Statalog</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<h2>Open stats</h2>
<p>embed here</p>
<p>Section Under Construction</p>
<!--stuff goes here-->

</body>
{% include footer.html %}
</html>
