<!DOCTYPE html>
<html lang="en" class="no-js">
<!--head starts-->
{% include head.html %}
	<!--head ends-->
  {% include header.html %}
<body>


<h1>Site Metrics</h1>
<p>Check it out. You and other users made all this happen! :)</p>


<section>
  <h2>Users</h2><!--the users-->
  <p>Section Under Construction</p>

  <h3>Total Users</h3>
  <p>Section Under Construction</p>

  <h3>Total Members Members</h3>
  <p>Section Under Construction</p>

  <h3>Section Header Under Construction</h3>
  <p>Section Under Construction</p>
</section>


<section>
  <h2>Uploads</h2><!--the users-->
  <p>Section Under Construction</p>

  <h3>Total Users</h3>
  <p>Section Under Construction</p>

  <h3>Total Members Members</h3>
  <p>Section Under Construction</p>

  <h3>Section Header Under Construction</h3>
  <p>Section Under Construction</p>
</section>


<section>
  <h2>Traffic</h2><!--traffic-->
  <p>Section Under Construction</p>

  <h3>Daily Users</h3>
  <p>Section Under Construction</p>

  <h3>Daily Members</h3>
  <p>Section Under Construction</p>
</section>


<section>
  <h2>The Site</h2><!--the site-->
  <p>Section Under Construction</p>

  <h3>Lines of Code</h3>
  <p>Section Under Construction</p>

  <h3>Section Header Under Construction</h3>
  <p>Section Under Construction</p>


</section>


</body>

{% include footer.html %}
</html>
