<Footer> <!--start footer area-->
	<section>

<h6 class="title">More Awesomeness</h6>
<div class="resources">
	<a href="https://statalog.org/integrations">Integrations</a> <br>
	<a href="https://statalog.org/#">How To...</a> <br>
	<a href="https://statalog.org/blog">Blog</a>
	<a href="https://statalog.org/Developers">Developers Tools</a> <br>
</div>

<div class="col-md-4">
<div class="single-widget">
<div class="desc">
<h6 class="title">Contact</h6>
<div class="contact">
	<a href="mailto:hello@Statalog.Org">hello@Statalog.Org</a> <br>
	<p>450 Design Ave <br>
		Winston Salem, North Carolina</p>
</div>
</div>
</div>
</div>
<div class="col-md-4">
<div class="single-widget">
<div class="desc">
<h6 class="title">Company</h6>
<div class="Company">
	<a href="https://statalog.org/Labs">Labs</a> <br>
	<a href="https://statalog.slack.com">Community</a> <br>
	<a href="#">Partners</a> <br>
	<a href="https://angel.co/statalog/Jobs">Jobs</a>
</div>
</div>
</div>
</div>


<div class="container">
<div class="footer-content d-flex justify-content-between align-items-center flex-wrap">

<div class="copy-right-text">Together, we will accmoplish more. &copy; 2019 | <a href="https://statalog.org/legal"><i class="fa fa-gavel"></i>Privacy Policy</a> | <a href="https://statalog.org/legal"><i class="fa fa-gavel"></i>Terms of Service</a></div>
<div class="footer-social">
<a href="https://twitter.com/statalog"><i class="fa fa-twitter"></i></a>
<a href="https://linkedin.com/statalogg"><i class="fa fa-linkedin"></i></a>
<a href="https://instagram.com/statalogHQ"><i class="fa fa-instagram"></i></a>
<a href="http://facebook.com/statalog"><i class="fa fa-facebook"></i></a>
</div>
</div>
</div>
</footer>
</section>
<!-- End Footer Widget Area -->
