<div class="footer-dark"><!--start footer area-->
		<footer>
				<div class="container">
						<div class="row">
								<div class="col-sm-6 col-md-4 item">
										<h3>Awesomeness</h3>
										<ul>
												<li><a href="https://statalog.org/integrations">Integrations</a></li>
												<li><a href="https://statalog.org/#">How To...</a></li>
												<li><a href="https://statalog.org/blog">Blog</a></li>
												<li><a href="https://statalog.org/Developers">Developers Tools</a></li>
										</ul>
								</div>
								<div class="col-sm-6 col-md-4 item">
										<h3>Talk to Us</h3>
										<ul>
												<li><a href="<a href="mailto:hello@Statalog.Org">Hello@Statalog.Org</a></li>
												<li>450 Design Avenue</li>
												<li>Winston-Salem, NC</li>
										</ul>
								</div>
								<div class="col-sm-6 col-md-4 item">
										<h3>Be Involved</h3>
									<ul>
									<li><a href="https://statalog.org/Labs">Labs</a></li>
													<li><a href="https://statalog.slack.com">Chat</a></li>
												<li><a href="#">Partners</a></li>
												<li><a href="https://angel.co/statalog/Jobs">Careers/Jobs</a></li>
									</ul>
								</div>
								<div class="col item social"><a href="https://twitter.com/statalog"><i class="icon ion-social-twitter"></i></a>
													<a href="https://www.reddit.com/r/Statalog"><i class="icon ion-social-reddit"></i></a>
													<a href="https://linkedin.com/statalogg"><i class="icon ion-social-linkedin"></i></a>
													<a href="https://instagram.com/statalogHQ"><i class="icon ion-social-instagram"></i></a></div>
						</div>
						<p class="copyright">Together, we will accomplish more. &copy; 2019</p>
				</div>
		</footer>
</div> <!--end footer area-->
