<!-- Start Story Area -->
<section class="story-area">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-1">
			</div>
			<div class="col-lg-7">
				<div class="story-box">
					<h6 class="text-uppercase">From the part of beginning</h6>
					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and the power of globalization. Societies are becoming more inter-connected. Thoughts from different</p>
					<a href="#" class="primary-btn d-inline-flex align-items-center"><span class="mr-10">Get Started</span><span class="lnr lnr-arrow-right"></span></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Story Area -->
