---
title: Statalog Blog - Statablog
layout: blog
---
{% include blog_header.html %}

<div class="row">
  <div class="span9">
    <ul class="blog posts">
      {% for post in site.categories.blog %}
        {% include blog_posts.html %}
      {% endfor %}
    </ul>
  </div>

<body>
<p class="p1">&lt;html&gt;</p>
<p class="p2"><br></p>
<p class="p1">&lt;body&gt;</p>
<p class="p1">&lt;p&gt;</p>
<p class="p3"><span class="s1">Hi there! You’ve found Statalog’s blog. We are doing a major overhaul on the site.</span></p>
<p class="p4"><span class="s1"><br>
</span></p>
<p class="p4"><span class="s1">In the mean time, we are trying to figure out what features to add first. We want your input. Head to our &lt;a href=“ideas.statalog.org”&gt;Ideas Portal&lt;/a&gt; to add your ideas and vote on others.</span></p>
<p class="p4"><span class="s1">&lt;/p&gt;</span></p>
<p class="p4"><span class="s1">&lt;/body&gt;</span></p>
<p class="p4"><span class="s1">&lt;/html&gt;</span></p>
</body>
</html>
