
//    Font Family

$primary-font	: 'Nunito', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #0b3c49;
$secondary-color: #49e3ce;
$title-color	: #444;
$text-color		: #777777;

$white			: #eee;
$black			: #222;
